.app-netflix{
    /* background-image: url(img/ID-id-20230904-popsignuptwoweeks-perspective_alpha_website_large.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}